* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  padding: 0.3rem;
  background-color: steelblue;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

button.destroy {
  background-color: red;
}

header,
section {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

header h1 {
  text-align: center;
}

section#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

section#app form {
  grid-column: 1/3;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto;
}

section#app form fieldset {
  border: none;
}

section#app form label {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
}

section#app form input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid gray;
}

section#app form button {
  align-self: flex-end;
}

/*TODO list*/

section#list ul {
  border-top: 1px solid gray;
  padding-top: 1rem;
}

section#list ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

section#list ul li.done p {
  text-decoration: line-through;
  color: gray;
}